@font-face {
  font-family: "iconfont logo";
  src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834');
  src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_985780_km7mi63cihi.woff?t=1545807318834') format('woff'),
    url('https://at.alicdn.com/t/font_985780_km7mi63cihi.ttf?t=1545807318834') format('truetype'),
    url('https://at.alicdn.com/t/font_985780_km7mi63cihi.svg?t=1545807318834#iconfont') format('svg');
}

html,body {
    position: relative;
    width: 100%;
    height: 100%;
    background:url("../static/uploads/indexbackground.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.main_box {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 650px;
    border-radius: 5px;
}

.headers {
    width: 100%;
    height: 60px;
    background-color: #376297;
    border-radius: 5px 5px 0 0;
}
.headers ul {
    width: 100%;
    height: 100%;
}
.headers ul li {
    display: inline-block;
    float: left;
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
.headers ul li:nth-child(1){
    width: 100px;
}
.headers ul li:nth-of-type(7){
    position: relative;
}
.icon-soushuo{
    position: absolute;
    color: black;
    left: 4px;
    top: 0;
}

.headers ul li  input {
    width: 200px;
    height: 30px;
    outline: none;
    border:1px solid #5D3F73;
    border-radius: 5px;
    padding-left: 25px;
}

.headers ul li:nth-child(7){
    margin-left:40px;
}

.headers ul li:nth-child(8){
    position: relative;
    margin: 0 40px 0 160px;
    display: inline-block;
    width: 20px;
    height: 20px;

}

.headers ul li:nth-child(8) .notice {
    position: absolute;
    top:15px;
    right: -14px;
    width: 22px;
    height: 22px;
    line-height: 20px;
    background-color: red;
    border-radius: 11px;
}
.icon-tongzhi::before{
    font-size: 28px !important;
}

.headers ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.rightbar{
    float: left;
    width: 225px;
    height: 90%;
    background-color: crimson;
    border-radius: 0 0 5px 0;
}
.rightbar ul li{
    width: 100%;
    height: 58px;
    border-bottom: 1px solid black;

}

.rightbar ul li:nth-child(1){
    height: 63px;
    border-bottom:1px solid black;
}

.leftframe {
    float: left;
    width: 75%;
    height: 90%;
   /* background-color: chocolate;*/
    border-radius: 0 0 0 5px;
}

.leftframe .display_info{
    width: 100%;
    height: 82%;
    background-color: cornflowerblue;
}
.leftframe .send-info {
    width: 100%;
    height: 18%;
    background-color: darkblue;
    border-radius: 0 0 0 5px;
}