html,body {
    position: relative;
    width: 100%;
    height: 100%;
    background:url("../static/uploads/indexbackground.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.main_box {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 650px;
    border-radius: 5px;
}

.headers {
    width: 100%;
    height: 60px;
    background-color: #5D3F73;
    border-radius: 5px 5px 0 0;
}
.headers ul {
    width: 100%;
    height: 100%;
}
.headers ul li {
    display: inline-block;
    float: left;
    width: 75px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
.headers ul li:nth-child(1){
    width: 100px;
}
.headers ul li > input {
    width: 200px;
    height: 30px;
    outline: none;
    border:1px solid #5D3F73;
    border-radius: 5px;
    padding-left: 30px;
}
.headers ul li:nth-child(7){
    margin-left:40px;
}

.headers ul li:nth-child(8){
    position: relative;
    margin: 0 20px 0 160px;
    display: inline-block;
    width: 20px;
    height: 20px;

}

.headers ul li:nth-child(8) .notice {
    position: absolute;
    top:30px;
    right: 0;
    width: 20px;
    height: 20px;
    color: red;
}


.headers ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.rightbar{
    float: left;
    width: 225px;
    height: 90%;
    background-color: crimson;
    border-radius: 0 0 5px 0;
}
.rightbar ul li{
    width: 100%;
    height: 58px;
    border-bottom: 1px solid black;

}

.rightbar ul li:nth-child(1){
    height: 63px;
    border-bottom:1px solid black;
}

.leftframe {
    float: left;
    width: 75%;
    height: 90%;
    background-color: chocolate;
    border-radius: 0 0 0 5px;
}